<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Information Form</title>
</head>
<body>
    <h1>User Information Form</h1>

     {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'recruitment:apply' %}">
        {% csrf_token %}
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required><br>

        <label for="cnic">CNIC:</label><br>
        <input type="text" id="cnic" name="cnic" required><br>

        <label for="phone">Phone Number:</label><br>
        <input type="tel" id="phone" name="phone" required><br>

        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender" required>
            <option value="M">Male</option>
            <option value="F">Female</option>
            <option value="O">Other</option>
        </select><br>

        <label for="address">Address:</label><br>
        <textarea id="address" name="address" rows="4" cols="50" required></textarea><br>

        <label for="skill">Skill Set:</label><br>
        <textarea id="skill" name="skill" rows="4" cols="50" required></textarea><br>

        <label for="work_experience">Work Experience:</label><br>
        <textarea id="work_experience" name="work_experience" rows="4" cols="50" required></textarea><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
