{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicant Dashboard</title>
    <!-- Bootstrap CSS -->
<!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">-->

    <link rel="stylesheet" href="{% static 'recruitment/css/dashboard.css' %}">

</head>
<body>
    <div class="container">


        <h1>Welcome to Your Applicant Dashboard</h1>
        {% if messages %}
            {% for message in messages %}
             <div class="alert alert-success" role="alert">
                  {{ message }}
             </div>
            {% endfor %}
        {% endif %}

        <div id="message">
            <!-- Placeholder for status messages -->
        </div>

        <h2>Application Status</h2>
        <p id="applicationStatus">Loading...</p>

        <h2>Your Score</h2>
        <p id="score">{{ request.user.Applicant.scores.score }}</p>

        <h2>Apply for a Job</h2>
        <form id="applyForm" action="{% url 'recruitment:apply' %}" ="GET">
            <input type="submit" class="btn btn-primary" value="Apply Now">
        </form>
    </div>

    <!-- jQuery and Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
